@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@mixin font-face($weight:400){
  font-family: "Pretendard";
  font-weight: $weight;
}

//bold
@mixin display-b{
  @include font-face;
  font-size: 3.5rem;
  line-height: auto;
  font-weight: bold;
}
@mixin heading-b{
  @include font-face;
  font-size: 2.5rem;
  line-height: auto;
  font-weight: bold;
}
@mixin title-b{
  @include font-face;
  font-size: 2rem;
  line-height: auto;
  font-weight: bold;
}
@mixin body-b{
  @include font-face;
  font-size: 1.5rem;
  line-height: auto;
  font-weight: bold;
}
@mixin caption-b{
  @include font-face;
  font-size: 1rem;
  line-height: auto;
  font-weight: bold;
}


//Regular
@mixin display-r{
  @include font-face;
  font-size: 3.5rem;
  line-height: auto;
  font-weight: 400;
}
@mixin heading-r{
  @include font-face;
  font-size: 2.5rem;
  line-height: auto;
  font-weight: 400;
}
@mixin title-r{
  @include font-face;
  font-size: 2rem;
  line-height: auto;
  font-weight: 400;
}
@mixin body-r{
  @include font-face;
  font-size: 1.5rem;
  line-height: auto;
  font-weight: 400;
}
@mixin caption-r{
  @include font-face;
  font-size: 1rem;
  line-height: auto;
  font-weight: 400;
}

