@use "./variables" as *;
@use "./fonts" as *;
//반응형
$mobile: 768px;

//반응형 처리
@mixin respond {
  @media all and (min-width: $mobile) {
    @content;
  }
}

//레이아웃 플렉스
@mixin flex-layout($dir: row, $just: center, $align: center, $gap: 1rem) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}