//color
$editor-bg:#1E1E1E;
$card-bg:#252526;
$header-bg:#333333;
$click-bg:#3C3C3C;
$stroke:#3E3E42;
$color-ccc:#CCCCCC;
$color-caption:#858585;
$btn-blue:#007ACC;
$keyword-blue:#569CD6;
$color-blue:#4FC3F7;
$color-green:#4EC9B0;
$color-yellow:#DCDCAA;
$color-orange:#CE9178;
$color-red:#F44747;