@use "../assets/scss/mixins" as *;
@use "../assets/scss/variables" as *;
@use "../assets/scss/fonts" as *;

.skills {
  padding: 2rem;
  color: $color-ccc;
  .skills-header {
    margin-bottom: 1.2rem;

    .skills-title {
      @include heading-b();
      color: $color-blue;
      margin: 0 0 6px;
    }

    .skills-desc {
      @include body-r();
      opacity: 0.7;
    }
  }

  .skills-sections {
    display: grid;
    gap: 1.2rem;
    .skills-section {
      .section-head {
        @include flex-layout("", "flex-start", "", "");
        margin: 10px 0 10px;

        .dot {
          opacity: 0.6;
        }

        .section-title {
          @include body-b();
          opacity: 0.85;
        }
        .section-title.frontend {
          color: $color-blue;
        }

        .section-title.designer {
          color: $color-green;
        }

        .section-title.communication {
          color: $color-orange;
        }
      }

      .skills-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 12px;

        @include respond {
          grid-template-columns: repeat(4, minmax(0, 1fr));
          gap: 14px;
        }
      }
    }
  }
}
