@use "src/assets/scss/_variables.scss"as *; 
@use "src/assets/scss/_mixins.scss"as *; 
.footer{
  width: 100%;
  height: 1.5rem;
  background-color: $btn-blue;
  color: #fff;
  @include flex-layout("", space-between, center, 0);
  .left{
    padding-left: 1rem;
  }
  .right{
    @include flex-layout("", flex-end, "");  
    padding-right: 1rem;
  }
}