@use "src/assets/scss/variables.scss"as *; 
@use "src/assets/scss/mixins.scss"as *; 
@use "src/assets/scss/fonts.scss"as *;

.list-card{
  width: 100%;
  padding: 2rem;
  border-radius: 0.8rem;
  border: 1px solid $stroke;
  background-color: $card-bg;
  margin-bottom: 2rem;
  .list-header{
    @include flex-layout(row, space-between, center, 1rem);
    .list-title{
      @include title-b();
      color: $color-yellow;
    }
    .list-icon{
      @include caption-r();
      color: $color-ccc;
    }
  }
  .list-date{
    color: $color-caption;
    .highlight{
      color: $color-green;
    }
  }
  .key-highlights{
    .highlights{
      color: $keyword-blue;
    }
  }
  .skills{
     display: flex;
  flex-wrap: wrap;
  gap: 8px;
    .skill-item{
  padding: 6px 12px;
  border-radius: 0.5rem;
  color: $color-blue;
  background: $editor-bg;
  border: 1px solid $stroke;
  white-space: nowrap;
    }
  }
}

.list-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
